.menu {
  width: 340px;
  height: 65vh;
}
.cart {
  align-items: center;
  justify-content: center;
  margin: 20px 150px;
  gap: 80px;
}
.banner {
  width: 82%;
  display: block;
  margin: 30px auto;
}
.dowp {
  display: flex;
  align-items: center;
  margin: 0px 170px;
  justify-content: space-between;
}
.span {
  font-size: 32px;
  font-weight: 500;
}
.h1 {
  font-size: 25px;
  font-weight: 400;
}
.menu img:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.price {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}
/* ........................................ */
.product {
  display: flex;
  margin: 0px 170px;
  margin-top: 55px;
  margin-bottom: 80px;
  align-items: center;
}
.lefts {
  display: flex;
  gap: 17px;
  margin-right: 10px;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.left img {
  height: 163px;
  width: 200px;
}
.rights img {
  height: 705px;
  width: 800px;
}
.im:hover {
  transform: scale(1.5);
  transition: 0.8s;
}
.buttonss {
  width: 200px;
  height: 55px;
  background: red;
  color: white;
  font-size: 28px;
  font-weight: 600;
  border-radius: 5px;
}
.name {
  font-size: 35px;
  font-weight: 700;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.si {
  display: flex;
  gap: 20px;
}
.si p {
  width: 40px;
  height: 30px;
  border: 1px solid darkgrey;
  text-align: center;
  align-items: center;
  padding: 2px 2px 2px 2px;
}
.des {
  margin: 0px 170px;
  border: 1px solid darkgray;
  padding: 15px;
}
.desc {
  padding: 10px;
  font-size: 22px;
  outline: none;
  font-weight: 500;
  border: 1px solid darkgrey;
  width: 140px;
  margin: 0px 170px;
}
.releted {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rel {
  display: flex;
  gap: 5px;
}
